<%= @user.name %>様
<p>MiddleManagementをご利用いただき、ありがとうございます。</p>
<p>本日は<%= @subordinate.name %>さんの誕生日です。</p>
<p>お祝いの言葉を伝えましょう。</p>
<%=link_to 'Middle Management', 'https://middlemanagement.app.magia.runteq.jp/' %>
<br>
<p>*******************************</p>
<p>Middle Management</p>
<p>*******************************</p>